---
import { Picture } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { slide } from "astro:transitions";
import test from "../assets/test.jpg";
import men_1 from "../assets/hannes.jpg";
import men_2 from "../assets/ferdi.jpg";
import side_dark from "../assets/lrs-de.png";
import side_light from "../assets/light-chat.png";
import "../css/global.css";
---

<Layout
  title="SchreibRecht | Über Uns"
  description="Kostenlose Online-Übungen für Kinder und Erwachsene mit LRS."
>
  <div
    class="relative isolate overflow-hidden dark:bg-dark bg-white/40 px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0"
  >
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg
        class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-secondary [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]"
        aria-hidden="true"
      >
        <defs>
          <pattern
            id="e813992c-7d03-4cc4-a2bd-151760b470a0"
            width="200"
            height="200"
            x="50%"
            y="-1"
            patternUnits="userSpaceOnUse"
          >
            <path d="M100 200V.5M.5 .5H200" fill="none"></path>
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-secondary">
          <path
            d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
            stroke-width="0"></path>
        </svg>
        <rect
          width="100%"
          height="100%"
          stroke-width="0"
          fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"></rect>
      </svg>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-3"
    >
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <p class="text-base/7 font-semibold text-dark dark:text-secondary">
            </p>
            <h1
              class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-dark dark:text-secondary sm:text-5xl name"
            >
              Über Uns
            </h1>
            <p class="mt-6 text-xl/8 text-gray-700 dark:text-gray-400"></p>
          </div>
        </div>
      </div>
      <div
        class="hidden md:grid -ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden"
      >
        <Picture
          src={side_dark}
          alt="autos"
          format="webp"
          quality="max"
          width={1500}
          class="hidden dark:flex max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[42rem]"
        />
        <Picture
          src={side_light}
          alt="autos"
          format="webp"
          quality="max"
          width={1500}
          class="dark:hidden md:flex max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[42rem]"
        />
      </div>
      <div
        class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8"
      >
        <div class="lg:pr-4">
          <div
            class="max-w-xl text-base/7 text-gray-500 dark:text-gray-300 lg:max-w-lg"
          >
          <p transition:animate={slide({ duration: "0.1s" })} class="font-bold border-r-4 border-primary">
            Ein Freund von uns leidet selbst unter LRS (Lese-Rechtschreib-Schwäche) und hat bereits nach Apps und
            Websites gesucht, die ihm bei Rechtschreibung und Lesen helfen könnten – jedoch ohne Erfolg. Deshalb haben wir uns gedacht, warum
            nicht selbst eine Lösung entwickeln, zumal wir zu zweit, mit 15 und 17 Jahren, daran arbeiten könnten.
          </p>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li transition:animate={slide({ duration: "0.2s" })} class="border-r-4 border-primary p-1 flex gap-x-2">
              <svg class="mt-1 size-5 flex-none text-primary inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none"><path d="M0 0h24v24H0z"></path><path fill="currentColor" d="M13.5 4a1.5 1.5 0 0 0-3 0v.5h-1a4.5 4.5 0 0 0 0 9h5a1.5 1.5 0 0 1 0 3H7a1.5 1.5 0 0 0 0 3h3.5v.5a1.5 1.5 0 0 0 3 0v-.5h1a4.5 4.5 0 1 0 0-9h-5a1.5 1.5 0 1 1 0-3H17a1.5 1.5 0 0 0 0-3h-3.5z"></path></g>
              </svg>
              <span class="text-gray-600 dark:text-gray-200">
                <strong class="font-semibold text-primary block name">Kostenlos.</strong>
                Du kannst die Übungen sofort komplett kostenlos machen!
              </span>
            </li>
            <li transition:animate={slide({ duration: "0.3s" })} class="border-r-4 border-primary p-1 flex gap-x-2">
              <svg class="mt-1 size-5 flex-none text-primary inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"></path><path fill="currentColor" d="M8.084 2.6c.162-.365.523-.6.923-.6h7.977c.75 0 1.239.79.903 1.462L15.618 8h3.358c.9 0 1.35 1.088.714 1.724L7.737 21.677c-.754.754-2.01-.022-1.672-1.033L8.613 13H5.015a1.01 1.01 0 0 1-.923-1.42z"></path></g>
              </svg>
              <span class="text-gray-600 dark:text-gray-200 max-w-sm">
                <strong class="font-semibold text-primary block name">Einfach.</strong>
                Die Aufgaben sind einfach und schnell, und jeder kann sie machen!
              </span>
            </li>
            <li transition:animate={slide({ duration: "0.4s" })} class="border-r-4 border-primary p-1 flex gap-x-3">
              <svg class="mt-1 size-5 flex-none text-primary inline-block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M6 7a5 5 0 1 1 10 0A5 5 0 0 1 6 7m-1.178 7.672C6.425 13.694 8.605 13 11 13q.671 0 1.316.07a1 1 0 0 1 .72 1.557A5.97 5.97 0 0 0 12 18c0 .92.207 1.79.575 2.567a1 1 0 0 1-.89 1.428L11 22c-2.229 0-4.335-.14-5.913-.558c-.785-.208-1.524-.506-2.084-.956C2.41 20.01 2 19.345 2 18.5c0-.787.358-1.523.844-2.139c.494-.625 1.177-1.2 1.978-1.69ZM17 21a1 1 0 0 1 .883-.993l.119-.007a1 1 0 0 1 .117 1.993L18 22a1 1 0 0 1-1-1m.567-4.75a.5.5 0 0 1 .933.25c0 .135-.048.255-.321.48l-.145.114l-.11.082c-.074.055-.162.12-.243.186l-.139.116a1.7 1.7 0 0 0-.488.697a1 1 0 0 0 1.835.782l.097-.077l.357-.27l.107-.086l.181-.158c.406-.374.869-.968.869-1.866a2.5 2.5 0 0 0-4.662-1.257a1 1 0 0 0 1.729 1.007"/></g></svg>
              <span class="text-gray-600 dark:text-gray-200 max-w-sm">
                <strong class="font-semibold text-primary block name">Kein LRS?</strong>
                SchreibRecht hilft dir auch, deine Rechtschreibung oder Lesefähigkeiten zu verbessern!
              </span>
            </li>
          </ul>
          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-primary dark:bg-primarydark py-24 sm:py-32">
    <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
      <div class="max-w-xl">
        <h2
          class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-4xl name"
        >
          Unser Team
        </h2>
        <p class="mt-2 text-lg/8 text-white dark:text-gray-200">
          Wir haben diese seite zu zweit gebaut und hoffe sie gefählt euch!
        </p>
      </div>
      <ul
        role="list"
        class="grid gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
      >
        <li>
          <div
            class="bg-white rounded-md flex justify-center items-center gap-x-8 mr-1 py-10"
          >
            <Picture
              src={men_1}
              alt="shattery567"
              class="size-16 rounded-full"
            />
            <div>
              <h3
                class="text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Shattery567
              </h3>
              <p class="text-sm/6 font-semibold text-primary">
                Frontend Dev<span class="text-black">|</span><a
                  href="https://github.com/shattery"
                  target="_blank"
                  class="text-sm/6 font-semibold text-gray-600"
                  ><svg
                    class="inline-block size-5 mb-[1px]"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    ><g fill="none"
                      ><path
                        d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"
                      ></path><path
                        fill="currentColor"
                        d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16M9.243 6.212a5.8 5.8 0 0 1 1.17.553A7 7 0 0 1 12 6.588c.548 0 1.08.061 1.586.177a5.8 5.8 0 0 1 1.17-.553l.284-.092c.393-.117.83-.193 1.197-.01c.17.085.312.218.414.378c.208.326.283.746.329 1.123a4.2 4.2 0 0 1-.033 1.27c.447.635.72 1.387.72 2.207c0 1.845-1.315 3.262-3.005 3.976q.058.22.078.455l.01.246l-.029 2.745a1 1 0 1 1-2-.02l.029-2.74a.74.74 0 0 0-.168-.468l-.068-.073c-.604-.57-.296-1.561.493-1.719c1.74-.347 2.66-1.446 2.66-2.402c0-.447-.182-.897-.557-1.306a1 1 0 0 1-.23-.94l.04-.123c.053-.127.082-.285.09-.456a3.3 3.3 0 0 0-.62.375a1.02 1.02 0 0 1-.913.167A5 5 0 0 0 12 8.588c-.53 0-1.029.079-1.479.217a1.02 1.02 0 0 1-.913-.166a3.3 3.3 0 0 0-.621-.376q.009.195.055.356l.036.101c.149.361.075.776-.189 1.063c-.375.409-.556.858-.556 1.305c0 .956.92 2.055 2.66 2.402c.751.15 1.067 1.057.573 1.635l-.08.084a.75.75 0 0 0-.229.44l-.007.116l-.029 2.745a1 1 0 1 1-2-.02l.005-.457a2.7 2.7 0 0 1-1.046-.202a2.6 2.6 0 0 1-.985-.757a2 2 0 0 1-.13-.188l-.141-.234c-.123-.2-.26-.392-.411-.44a.75.75 0 1 1 .474-1.423c.437.145.715.458.894.69c.16.208.298.433.466.635c.137.164.265.271.419.336c.106.045.256.084.476.083l.008-.784q0-.356.088-.685c-1.69-.714-3.005-2.131-3.005-3.976c0-.82.272-1.57.718-2.205a4.2 4.2 0 0 1-.033-1.271c.046-.377.12-.798.329-1.124c.102-.16.244-.292.414-.378c.366-.183.804-.107 1.197.01z"
                      ></path></g
                    ></svg
                  ></a
                >
              </p>
            </div>
          </div>
        </li>
        <li>
          <div
            class="bg-white rounded-md flex justify-center items-center gap-x-8 mr-1 py-10"
          >
            <Picture
              src={men_2}
              alt="shattery567"
              class="size-16 rounded-full"
            />
            <div>
              <h3
                class="text-base/7 font-semibold tracking-tight text-gray-900"
              >
                Fizzq_
              </h3>
              <p class="text-sm/6 font-semibold text-primary">
                Frontend Dev<span class="text-black">|</span><a
                  target="_blank"
                  href="https://gitea.com/Fizzq"
                  class="text-sm/6 font-semibold text-gray-600"
                  ><svg class="inline-block size-5 mb-[1px]" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M15.46 3.206s.14-.003.245.102l.01.01c.064.06.258.244.285 1.074c0 2.902-1.405 5.882-1.405 5.882a9 9 0 0 1-.359.713c-.458.802-.786 1.153-.786 1.153s-.318.379-.675.595c-.415.265-.72.263-.72.263L7.247 13c-.636-.079-1.29-.736-1.927-1.578c-.47-.677-.779-1.413-.779-1.413s-2.51.034-3.675-1.394C.235 7.895.103 7.067.06 6.769q0-.012-.004-.029c-.05-.324-.285-1.873.821-2.86c.517-.496 1.148-.638 1.37-.684c.371-.081.667-.06.903-.044l.09.006c.391.035 3.99.216 3.99.216s1.532.066 2.27.056c0 0 .003 1.853.003 2.78q.105.048.211.1l.212.1V3.427q.494-.005.996-.017h.011c1.545-.036 4.528-.204 4.528-.204ZM2.113 8.026s.28.26.94.477c.43.152 1.094.231 1.094.231S3.699 7.5 3.516 6.757c-.22-.886-.4-2.398-.4-2.398s-.438-.015-.789.079c-.766.19-.98.763-.98.763s-.384.688.036 1.813c.244.672.73 1.013.73 1.013Zm8.084 3.607c.344-.023.499-.392.499-.392s1.24-2.486 1.4-2.878a.7.7 0 0 0 .046-.438c-.07-.267-.39-.412-.39-.412l-1.926-.935l-.165.339l-.18.369a.46.46 0 0 1 .128.341s.433.186.743.387c0 0 .257.135.32.425c.075.273-.04.488-.066.539l-.002.003s-.216.51-.343.774l-.004.007q-.07.144-.139.28a.454.454 0 1 1-.32-.15s.41-.84.468-1.033c0 0 .096-.24.048-.38a.47.47 0 0 0-.19-.188a6 6 0 0 0-.678-.34s-.076.068-.18.09a.5.5 0 0 1-.158.014l-.611 1.25a.46.46 0 0 1 .046.587a.46.46 0 0 1-.578.138a.46.46 0 0 1-.232-.51a.46.46 0 0 1 .44-.35L8.8 7.886a.457.457 0 0 1 .361-.744l.185-.375l.167-.341l-.579-.281s-.251-.125-.458-.072a.6.6 0 0 0-.114.039c-.189.084-.31.33-.31.33L6.668 9.293s-.124.254-.068.46c.048.252.325.397.325.397l2.874 1.4l.135.054s.114.04.262.03Z" clip-rule="evenodd"/></svg>
                  </a
                >
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</Layout>

<style>
  #rainbow-shadow {
    position: relative;
    padding: 1rem; /* Platz für den Inhalt */
    border-radius: 50px; /* Runde Ecken */
    z-index: 1; /* Sicherstellen, dass das Haupt-Element über dem Gradient liegt */
  }

  #rainbow-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit; /* Gleiche Ecken wie das Haupt-Element */
    padding: 2px; /* Breite des Regenbogen-Rahmens */
    background: linear-gradient(90deg, #1b1b1b, lightblue, lightblue, #1b1b1b);
    -webkit-mask:
      linear-gradient(black, red) content-box,
      linear-gradient(black, red);
    -webkit-mask-composite: destination-out; /* Webkit-Support */
    mask-composite: exclude; /* Standard */
  }
</style>