---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import men_1 from "../assets/hannes.jpg"
import men_2 from "../assets/ferdi.jpg"
import { fade, slide } from "astro:transitions";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="LRS-Plattform"
  description="Kostenlose Online-Übungen für Kinder und Erwachsene mit LRS."
>

<section class="custom-cursor">
  <!-- Container -->
  <div class=" relative mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
    <!-- Component -->
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-primary [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-secondary">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mt-16 mx-auto mb-8 flex max-w-3xl flex-col items-center text-center md:mb-12 lg:mb-16">
      <h2 transition:animate={slide({ duration: '0.3s' })} class="inline-block text-3xl font-bold md:text-5xl text-dark dark:text-white dark:bg-dark p-1 name"><span> Willkommen auf <span class="text-primary name">SchreibRecht</span></span> </h2>
      <p transition:animate={slide({ duration: '0.5s' })} class="mx-auto mt-5 max-w-lg text-base text-gray-500 md:mb-12 md:text-lg lg:mb-16"> Wir auf SchreibRecht sind spätzilaziert leute zu helfen die ihr <span id="word-display"></span> verhbessern wollen </p>
      <div class="mt-5 flex gap-4 justify-center lg:justify-start">
        <a
          transition:animate={slide({ duration: '0.7s' })}
          href="/uebung"
          class="inline-block px-6 py-3 bg-primary text-light font-semibold text-lg rounded-lg shadow-lg hover:scale-105 hover:bg-primary/90 transition-all"
        >
          Jetzt loslegen
        </a>
        <a
          transition:animate={slide({ duration: '0.9s' })}
          href="#"
          class="inline-block px-6 py-3 bg-secondary text-dark font-semibold text-lg rounded-lg shadow-lg hover:scale-105 hover:bg-secondary/80 transition-all"
        >
          Mehr erfahren
        </a>
      </div>
    </div>
    <!-- Image -->
    <img
    transition:animate={slide({ duration: '1s' })}
    src="./bilder/desk.jpg"
    alt=""
    class="inline-block h-[500px] w-full object-cover"
  />
  </div>
</section>
<div class="bg-primary dark:bg-primarydark py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-xl">
      <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 dark:text-white sm:text-4xl name">Unser Team</h2>
      <p class="mt-2 text-lg/8 text-white dark:text-gray-200">Wir haben diese seite zu zweit gebaut und hoffe sie gefählt euch!</p>
    </div>
    <ul role="list" class="grid gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="bg-white rounded-md flex justify-center items-center gap-x-8 mr-1 py-10">
            <Picture src={men_1} alt="shattery567" class="size-16 rounded-full "/>
            <div>
              <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">Shattery567</h3>
              <p class="text-sm/6 font-semibold text-primary">Frontend Dev<span class="text-black">|</span><a href="https://github.com/shattery" class="text-sm/6 font-semibold text-gray-600"><svg class="inline-block size-5 mb-[1px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16M9.243 6.212a5.8 5.8 0 0 1 1.17.553A7 7 0 0 1 12 6.588c.548 0 1.08.061 1.586.177a5.8 5.8 0 0 1 1.17-.553l.284-.092c.393-.117.83-.193 1.197-.01c.17.085.312.218.414.378c.208.326.283.746.329 1.123a4.2 4.2 0 0 1-.033 1.27c.447.635.72 1.387.72 2.207c0 1.845-1.315 3.262-3.005 3.976q.058.22.078.455l.01.246l-.029 2.745a1 1 0 1 1-2-.02l.029-2.74a.74.74 0 0 0-.168-.468l-.068-.073c-.604-.57-.296-1.561.493-1.719c1.74-.347 2.66-1.446 2.66-2.402c0-.447-.182-.897-.557-1.306a1 1 0 0 1-.23-.94l.04-.123c.053-.127.082-.285.09-.456a3.3 3.3 0 0 0-.62.375a1.02 1.02 0 0 1-.913.167A5 5 0 0 0 12 8.588c-.53 0-1.029.079-1.479.217a1.02 1.02 0 0 1-.913-.166a3.3 3.3 0 0 0-.621-.376q.009.195.055.356l.036.101c.149.361.075.776-.189 1.063c-.375.409-.556.858-.556 1.305c0 .956.92 2.055 2.66 2.402c.751.15 1.067 1.057.573 1.635l-.08.084a.75.75 0 0 0-.229.44l-.007.116l-.029 2.745a1 1 0 1 1-2-.02l.005-.457a2.7 2.7 0 0 1-1.046-.202a2.6 2.6 0 0 1-.985-.757a2 2 0 0 1-.13-.188l-.141-.234c-.123-.2-.26-.392-.411-.44a.75.75 0 1 1 .474-1.423c.437.145.715.458.894.69c.16.208.298.433.466.635c.137.164.265.271.419.336c.106.045.256.084.476.083l.008-.784q0-.356.088-.685c-1.69-.714-3.005-2.131-3.005-3.976c0-.82.272-1.57.718-2.205a4.2 4.2 0 0 1-.033-1.271c.046-.377.12-.798.329-1.124c.102-.16.244-.292.414-.378c.366-.183.804-.107 1.197.01z"/></g></svg></a></p>
            </div>
        </div>
      </li>
      <li>
        <div class="bg-white rounded-md flex justify-center items-center gap-x-8 mr-1 py-10">
            <Picture src={men_2} alt="shattery567" class="size-16 rounded-full "/>
            <div>
              <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">Ferdi W</h3>
              <p class="text-sm/6 font-semibold text-primary">Web Desinger<span class="text-black">|</span><a href="https://github.com/FERDI123456789" class="text-sm/6 font-semibold text-gray-600"><svg class="inline-block size-5 mb-[1px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none"><path d="m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16M9.243 6.212a5.8 5.8 0 0 1 1.17.553A7 7 0 0 1 12 6.588c.548 0 1.08.061 1.586.177a5.8 5.8 0 0 1 1.17-.553l.284-.092c.393-.117.83-.193 1.197-.01c.17.085.312.218.414.378c.208.326.283.746.329 1.123a4.2 4.2 0 0 1-.033 1.27c.447.635.72 1.387.72 2.207c0 1.845-1.315 3.262-3.005 3.976q.058.22.078.455l.01.246l-.029 2.745a1 1 0 1 1-2-.02l.029-2.74a.74.74 0 0 0-.168-.468l-.068-.073c-.604-.57-.296-1.561.493-1.719c1.74-.347 2.66-1.446 2.66-2.402c0-.447-.182-.897-.557-1.306a1 1 0 0 1-.23-.94l.04-.123c.053-.127.082-.285.09-.456a3.3 3.3 0 0 0-.62.375a1.02 1.02 0 0 1-.913.167A5 5 0 0 0 12 8.588c-.53 0-1.029.079-1.479.217a1.02 1.02 0 0 1-.913-.166a3.3 3.3 0 0 0-.621-.376q.009.195.055.356l.036.101c.149.361.075.776-.189 1.063c-.375.409-.556.858-.556 1.305c0 .956.92 2.055 2.66 2.402c.751.15 1.067 1.057.573 1.635l-.08.084a.75.75 0 0 0-.229.44l-.007.116l-.029 2.745a1 1 0 1 1-2-.02l.005-.457a2.7 2.7 0 0 1-1.046-.202a2.6 2.6 0 0 1-.985-.757a2 2 0 0 1-.13-.188l-.141-.234c-.123-.2-.26-.392-.411-.44a.75.75 0 1 1 .474-1.423c.437.145.715.458.894.69c.16.208.298.433.466.635c.137.164.265.271.419.336c.106.045.256.084.476.083l.008-.784q0-.356.088-.685c-1.69-.714-3.005-2.131-3.005-3.976c0-.82.272-1.57.718-2.205a4.2 4.2 0 0 1-.033-1.271c.046-.377.12-.798.329-1.124c.102-.16.244-.292.414-.378c.366-.183.804-.107 1.197.01z"/></g></svg></a></p>
            </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<script src="../js/index.js"></script>
</Layout>

<style>
  #word-display {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-top: 20%;
      font-family: Arial, sans-serif;
  }

  #cursor {
      display: inline-block;
      background-color: black;
      width: 2px;
      height: 24px;
      animation: blink 0.6s steps(2, start) infinite;
  }

  @keyframes blink {
      50% {
          opacity: 0;
      }
  }
</style>