<footer class="block">
  <!-- Container -->
  <div class="py-16 md:py-20 mx-auto w-full max-w-7xl px-5 md:px-10">
    <!-- Component -->
    <div class="flex-col flex items-center">
      <a href="#" class="mb-8 inline-block max-w-full text-black">
        <span class="font-bold text-3xl">
          <span class="text-primary name">SchreibRecht</span>
        </span>
      </a>
      <div class="text-center font-semibold flex gap-x-5">
        <div class="group">
          <a
            href="/"
            class="block text-secondary rounded-lg text-base/7 group font-semibold text-lightGreen hover:text-primary transition"
          >
            Home
          </a>
          <div
            class="bg-primary h-[1px] w-0 group-hover:w-full transition-all duration-500 ease-in-out"
          >
          </div>
        </div>
        <div class="group">
          <a
            href="/"
            class="block text-secondary rounded-lg text-base/7 group font-semibold text-lightGreen hover:text-primary transition"
          >
            Über Uns
          </a>
          <div
            class="bg-primary h-[1px] w-0 group-hover:w-full transition-all duration-500 ease-in-out"
          >
          </div>
        </div>
        <div class="group">
          <a
            href="/"
            class="block text-secondary rounded-lg text-base/7 group font-semibold text-lightGreen hover:text-primary transition"
          >
            Übungen
          </a>
          <div
            class="bg-primary h-[1px] w-0 group-hover:w-full transition-all duration-500 ease-in-out"
          >
          </div>
        </div>
      </div>
      <div class="mb-8 mt-8 border-b border-gray-300 w-48"></div>
      <p class="text-sm sm:text-base text-secondary font-bold">
        © Copyright <span id="year"></span> SchreibRecht. All rights reserved.
      </p>
    </div>
  </div>
</footer>

<script src="../js/footer.js"></script>